
@font-face {
  font-family: 'UniversalBold';
  src: url('Universal_Bold.ttf') format('truetype');
  font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
  }
  
  .text-center {
    text-align: center;
  }
  
  .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
  }
  
  .form-element {
    margin: 5px;
    min-width: 200px;
    display: flex;
  }
  
  .form-label {
    min-width: 150px;
  }
  
  .id-card-container {
    display: block;
  }
  
  .card-container {
    height: 765.188px;
    width:914;
    border-radius: 10px;
    margin: 10px;
    font-family:'UniversalBold', Abel, Arial, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-containerses {
    height: 765.188px;
    width: 914px;
    border-radius: 10px;
    margin: 00px;
    font-family:'UniversalBold', Abel, Arial, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 400;
  }
  
  .card-wrapper {
    width: 438px;
    height: 739.2px;
    border-radius: 6px;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
  }
  .card-wrapper:first-child {
    margin-right: 10px; /* Adjust the value to control the spacing */
}


  #cardNumberr {
    width: 165px;
    height: 43px;
    margin-top: 340px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    left: 235px; /* Set its left position directly instead of margin-left */
  }
  #cardName {
    width: 400px;
    height: 56px;
    margin-top: 35px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    left: 14px; /* Set its left position directly instead of margin-left */
  }
  #cardjobTitle {
    width: 400px;
    height: 45px;
    margin-top: 22px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    left: 14px; /* Set its left position directly instead of margin-left */
  }
  #cardLocation {
    width: 400px;
    height: 56px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    left: 14px; /* Set its left position directly instead of margin-left */
  }
  #cardAddress {
    width: 390px;
    height: 100px;
    margin-top: 18px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    left: 18px; /* Set its left position directly instead of margin-left */
  }
  #cardvalidity {
    width: 72.5px;
    height: 43px;
    margin-top: 205px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    left: 70px; /* Set its left position directly instead of margin-left */
  }
  #cardbirthday {
    width: 72.5px;
    height: 43px;
    margin-top: 205px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    left: 60px; /* Set its left position directly instead of margin-left */
  }
  #cardCPIC {
    width: 390px;
    height: 43px;
    margin-top: 55px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    left: 18px; /* Set its left position directly instead of margin-left */
  }
  #cardCPICNum {
    width: 325px;
    height: 43px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    left: 50px; /* Set its left position directly instead of margin-left */
  }

  .idgui {
    margin: 0px;
    padding: 0px;
    width: 434px; /* Ensure the table takes up the full width available */
  }

  

  .user-card{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensure it stays fixed in place */
  }

  td {
    padding: 0px;
  }
